<ion-header>
    <ion-navbar>
      <ion-title>
        INICIAR SESIÓN
      </ion-title>
      </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <form [formGroup]="myForm" (ngSubmit)="loginUser()">
      <ion-list>
        <ion-item>
          <ion-icon name="person" item-left></ion-icon>
          <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="key" item-left></ion-icon>
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
      </ion-list>
      <div padding>
        <button ion-button block type="submit" [disabled]="!myForm.valid" round>Ingresar</button>
      </div>
    </form>


    <div padding class="center">

        <ion-grid style="height: 100%">
            <ion-row justify-content-center align-items-center style="height: 100%">
                Iniciar sesión con
            </ion-row>
          </ion-grid>
      <!--Botón que permite la autenticación con facebook-->
      <button ion-button color="" (click)="iniciarSesionFacebook()" round> 
        <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>&nbsp;  Facebook</button>
      <!--Botón que permite la autenticación con google-->
      <button ion-button color="danger" (click)="iniciarSesionGoogle()" round> 
        <ion-icon ios="logo-googleplus" md="logo-googleplus"></ion-icon>&nbsp; Google</button>  
      <!--Botón que permite direccionar al formulario de registro-->
      <ion-grid style="height: 100%">
          <ion-row justify-content-center align-items-center style="height: 100%">
              o
          </ion-row>
      </ion-grid>
      
      
      <button ion-button color="calm" (click)="registrar_usuario()" round>Registrar</button>

      <button ion-button color="calm" (click)="barcodeScanner()" round>Escanear</button>
     
     
      <!-- <button ion-button (click)="iniciarSesionFacebook('facebook')" *ngIf="!facebook.iniciosesion"> <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>&nbsp;Iniciar sesión con Facebook</button>-->
        
        <!--<button ion-button (click)="iniciarSesionFacebook()" *ngIf="!facebook.iniciosesion"> Iniciar sesión con Facebook</button>-->

        <!--<ion-card *ngIf="facebook.iniciosesion">
          <img src="{{ facebook.imagen }}"/>
          <ion-card-content>
            <ion-card-title>
              {{ facebook.name }}
              </ion-card-title>
            <p style="text-align: center">
            {{ facebook.correo }}
            </p>
          </ion-card-content>
        </ion-card>-->
      </div>   
  </ion-content>

