<ion-header>
    <ion-navbar>
      <ion-title>
        INICIAR SESIÓN
      </ion-title>
      </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <form [formGroup]="myForm" (ngSubmit)="loginUser()">
      <ion-list>
        <ion-item>
          <ion-icon name="person" item-left></ion-icon>
          <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="key" item-left></ion-icon>
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
      </ion-list>
      <div padding>
        <button ion-button block type="submit" [disabled]="!myForm.valid">Ingresar</button>
      </div>
    </form>


    <div padding>
        <button ion-button (click)="iniciarSesionFacebook('facebook')" *ngIf="!facebook.iniciosesion"> <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>&nbsp;Iniciar sesión con Facebook</button>
        <!--<button ion-button (click)="iniciarSesionFacebook()" *ngIf="!facebook.iniciosesion"> Iniciar sesión con Facebook</button>-->

        <ion-card *ngIf="facebook.iniciosesion">
          <img src="{{ facebook.imagen }}"/>
          <ion-card-content>
            <ion-card-title>
              {{ facebook.name }}
              </ion-card-title>
            <p style="text-align: center">
            {{ facebook.correo }}
            </p>
          </ion-card-content>
        </ion-card>

        <button ion-button (click)="cerrarSesionFacebook()" *ngIf="!facebook.iniciosesion">Cerrar sesión </button>
      </div>

      <p><a> ¿Olvidó su contraseña?</a> 

      <button ion-button color="light" (click)="registrar_usuario()" >Registrar</button>
      
        
      <!--<ion-item (click)="registrar_usuario()">-->   
  </ion-content>

